nav{
    box-shadow: 0px 7px 59px -5px rgba(0,0,0,0.7);
}
nav ul{
    display: flex;
    justify-content: space-around;
    background: rgb(158, 212, 75);
    margin: 0;
    padding: 20px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px 20px 19px 20px;
    border: none;
    margin: 0;
}
nav ul li a.active{
    border-bottom: 1px solid #2F2D3D;
    background-color: black;
}